a {
  color: #2176FF;
  text-decoration: underline;
  cursor: pointer;
}
 
a:hover {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
}
 
.nav-link:hover {
  color: #5495ff;
}
.btn {
  background-color: #2176FF;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}